name: CI/CD - Build and Deploy API

# 1. Definir el evento
on:
  push:
    branches:
      - main

# 2. Definir los trabajos
jobs:
  # --- TRABAJO 1: CI (Construcción) ---
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./src/API/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/net-api-finanzas:latest

  # --- TRABAJO 2: CD (Despliegue) ---
  deploy:
    needs: build-and-push # Espera a que la construcción termine con éxito
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # A. Copiar el archivo deploy-compose.yml al VPS
      - name: Copy file via SCP
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "deploy-compose.yml"
          target: "/home/${{ secrets.SSH_USER }}/finanzas-api"

      # B. Conectarse por SSH y ejecutar Docker Compose
      - name: Execute remote commands via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Navegar al directorio (el SCP crea la carpeta si no existe, pero aseguramos)
            cd /home/${{ secrets.SSH_USER }}/finanzas-api
            
            # Descargar la imagen más reciente
            echo "Descargando imagen nueva..."
            docker compose -f deploy-compose.yml pull
            
            # Reiniciar el servicio en segundo plano (-d)
            echo "Desplegando contenedor..."
            docker compose -f deploy-compose.yml up -d
            
            echo "¡Despliegue completado!"