name: CI/CD - Build and Deploy API

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./src/API/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/net-api-finanzas:latest

  # --- JOB 2: CD (MEJORADO) ---
  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 1. Crear directorio y probar conexión (Soluciona error de carpeta inexistente)
      - name: Create App Directory
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            mkdir -p /home/${{ secrets.SSH_USER }}/Riwi-wallet
            echo "Directorio verificado."

      # 2. Copiar el archivo (Ahora es seguro porque la carpeta existe)
      - name: Copy file via SCP
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: "deploy-compose.yml"
          target: "/home/${{ secrets.SSH_USER }}/Riwi-wallet"

      # 3. Ejecutar Docker Compose
      - name: Deploy Container
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /home/${{ secrets.SSH_USER }}/Riwi-wallet
            echo "1. Bajando nueva imagen..."
            docker compose -f deploy-compose.yml pull
            echo "2. Reiniciando servicios..."
            docker compose -f deploy-compose.yml up -d
            echo "3. Limpiando imágenes viejas..."
            docker image prune -f